.Scaphio{font-style: italic;font-size: 20px;
  color: black;
}
.Phantis{font-style:oblique;font-size: 30px;
    color: black;}
    .Both{font-style:normal;font-size: 15px;
        color: black;}
    .Speech{font-style:initial;font-size: 18px;
        color: black;}
.Duet{font-style:inherit;font-size: 10px;
    color: black;}    

.StageDirection{font-style: unset;background-color: lightpink;font-size: 25px;}
.StageDirection:hover{
    background-color: lightblue;
}




